[submodule "catppuccin/bat"]
	path = submodules/catppuccin/bat
	url = https://github.com/catppuccin/bat
[submodule "catppuccin/alacritty"]
	path = submodules/catppuccin/alacritty
	url = git@github.com:catppuccin/alacritty.git
[submodule "catppuccin/tmux"]
	path = submodules/catppuccin/tmux
	url = git@github.com:catppuccin/tmux.git
[submodule "catppuccin/eza"]
	path = submodules/catppuccin/eza
	url = git@github.com:catppuccin/eza.git
[submodule "catppuccin/lazygit"]
	path = submodules/catppuccin/lazygit
	url = git@github.com:catppuccin/lazygit.git
[submodule "catppuccin/fzf"]
	path = submodules/catppuccin/fzf
	url = git@github.com:catppuccin/fzf.git
[submodule "submodules/fzf-tab"]
	path = submodules/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab.git
