; =========================================================================
; Git Common Settings (Dotfiles Repository)
;
; 【利用方法】
; この共通設定を有効にするには、
; ローカルのホームディレクトリにある ~/.gitconfig ファイルに
; 以下の [include] セクションを追記してください。;
; -------------------------------------------------------------------------
; [include]
;     path = ~/code/github.com/kawahito25/dotfiles/.gitconfig
; -------------------------------------------------------------------------
;
; =========================================================================

[include]
	path = ~/code/github.com/kawahito25/dotfiles/submodules/catppuccin/delta/catppuccin.gitconfig

[ghq]
    root = ~/code

[core]
    editor = nvim
    excludesFile = ~/code/github.com/kawahito25/dotfiles/.gitignore_global
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = catppuccin-mocha
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    line-numbers = true
    hyperlinks = true
    side-by-side = true

[merge]
    conflictStyle = zdiff3

[alias]
    br = "!git branch --sort=-committerdate --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) | %(color:green)%(committerdate:relative)%(color:reset) | %(color:blue)%(authordate:short)%(color:reset)' --color=always | column -ts '|'"

    co = "!f() { \
        local format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) | %(color:green)%(committerdate:relative)%(color:reset) | %(color:blue)%(authordate:short)%(color:reset)'; \
        local target=$(git branch --sort=-committerdate --format=\"$format\" --color=always | column -ts '|' | fzf --ansi --no-multi --height 40% | awk '{print $1}' | sed 's/^*//'); \
        if [ -n \"$target\" ]; then \
            git checkout \"$target\"; \
        fi \
    }; f"
