keybinds clear-defaults=false {
    unbind "Ctrl p"
    normal {
        bind "Ctrl a" { SwitchToMode "Pane"; }
    }
    pane {
        unbind "c"
        bind "," { SwitchToMode "RenamePane"; }

        unbind "f"
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    }

    tab {
        unbind "r"
        bind "," { SwitchToMode "RenameTab"; }

        unbind "n"
        bind "c" { NewTab; }
    }


    shared_except "locked" {
        unbind "Ctrl g"
        bind "Alt l" { SwitchToMode "Locked"; }
    }
    locked {
        unbind "Ctrl g"
        bind "Alt l" { SwitchToMode "Normal"; }
    }

    shared_except "locked" {
        unbind "Ctrl n"
        bind "Ctrl m" { SwitchToMode "Move"; }
        bind "Ctrl s" { SwitchToMode "Resize";  }
        bind "Ctrl h" { MoveFocus "Left"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }
        bind "Ctrl l" { MoveFocus "Right"; }
        bind "Ctrl ¥" { NewPane "Right"; }
        bind "Ctrl -" { NewPane "Down"; }
    }
}

show_startup_tips false
theme "catppuccin-mocha"
