keybinds clear-defaults=false {
    unbind "Ctrl p"
    normal {
        bind "Ctrl a" { SwitchToMode "Pane"; }
    }
    pane {
        unbind "c"
        bind "," { SwitchToMode "RenamePane"; }

        unbind "f"
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    }

    tab {
        unbind "r"
        bind "," { SwitchToMode "RenameTab"; }

        unbind "n"
        bind "c" { NewTab; }
    }


    shared_except "locked" {
        unbind "Ctrl g"
        bind "Alt l" { SwitchToMode "Locked"; }
    }
    locked {
        unbind "Ctrl g"
        bind "Alt l" { SwitchToMode "Normal"; }
    }

    unbind "Ctrl h"
    shared_except "locked" {
        unbind "Ctrl n"

        bind "Ctrl m" { SwitchToMode "Move"; }
        bind "Ctrl s" { SwitchToMode "Resize";  }
        bind "Ctrl ¥" { NewPane "Right"; }
        bind "Ctrl -" { NewPane "Down"; }

        unbind "Alt +"
        unbind "Alt -"
        bind "Alt p" { Resize "Increase"; }
        bind "Alt n" { Resize "Decrease"; }

        bind "Ctrl h" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm" {
                name "move_focus_or_tab";
                payload "left";

                // Plugin Configuration
                move_mod "ctrl"; // Optional, should be added on every move command if changed.
                use_arrow_keys "false"; // Optional, uses arrow keys instead of hjkl. Should be added to every command where you want to use it.
            };
        }
        bind "Ctrl j" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm" {
                name "move_focus";
                payload "down";

                move_mod "ctrl";
                use_arrow_keys "false";
            };
        }
        bind "Ctrl k" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm" {
                name "move_focus";
                payload "up";

                move_mod "ctrl";
                use_arrow_keys "false";
            };
        }
        bind "Ctrl l" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm" {
                name "move_focus_or_tab";
                payload "right";

                move_mod "ctrl"; // Optional, should be added on every command if you want to use it
                use_arrow_keys "false";
            };
        }
        bind "Alt h" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm" {
                name "resize";
                payload "left";

                resize_mod "alt";
            };
        }
        bind "Alt j" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm" {
                name "resize";
                payload "down";

                resize_mod "alt";
            };
        }
        bind "Alt k" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm" {
                name "resize";
                payload "up";

                resize_mod "alt";
            };
        }
        bind "Alt l" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm" {
                name "resize";
                payload "right";

                resize_mod "alt";
            };
        }
    }
}

show_startup_tips false
theme "catppuccin-mocha"
